USE [master]
GO
/****** Object:  Database [TareasDb]    Script Date: 12/4/2023 9:18:13 AM ******/
CREATE DATABASE [TareasDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TareasDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TareasDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TareasDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TareasDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TareasDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TareasDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/4/2023 9:18:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 12/4/2023 9:18:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[CategoriaId] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Peso] [int] NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarea]    Script Date: 12/4/2023 9:18:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarea](
	[TareaId] [uniqueidentifier] NOT NULL,
	[CategoriaId] [uniqueidentifier] NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[PrioridadTarea] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Tarea] PRIMARY KEY CLUSTERED 
(
	[TareaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231203153500_Initial', N'8.0.0')
GO
INSERT [dbo].[Categoria] ([CategoriaId], [Nombre], [Descripcion], [Peso]) VALUES (N'fe2de405-c38e-4c90-ac52-da0540dfb402', N'Actividades personales', NULL, 50)
INSERT [dbo].[Categoria] ([CategoriaId], [Nombre], [Descripcion], [Peso]) VALUES (N'fe2de405-c38e-4c90-ac52-da0540dfb4ef', N'Actividades pendientes', NULL, 20)
GO
INSERT [dbo].[Tarea] ([TareaId], [CategoriaId], [Titulo], [Descripcion], [PrioridadTarea], [FechaCreacion]) VALUES (N'fe2de405-c38e-4c90-ac52-da0540dfb410', N'fe2de405-c38e-4c90-ac52-da0540dfb4ef', N'Pago de servicios publicos', NULL, 1, CAST(N'2023-12-03T10:34:59.6587493' AS DateTime2))
INSERT [dbo].[Tarea] ([TareaId], [CategoriaId], [Titulo], [Descripcion], [PrioridadTarea], [FechaCreacion]) VALUES (N'fe2de405-c38e-4c90-ac52-da0540dfb411', N'fe2de405-c38e-4c90-ac52-da0540dfb402', N'Terminar de ver pelicula en netflix', NULL, 0, CAST(N'2023-12-03T10:34:59.6587521' AS DateTime2))
GO
/****** Object:  Index [IX_Tarea_CategoriaId]    Script Date: 12/4/2023 9:18:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tarea_CategoriaId] ON [dbo].[Tarea]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Categoria_CategoriaId] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categoria] ([CategoriaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Categoria_CategoriaId]
GO
USE [master]
GO
